<section class="bg-dark text-white">
    <div
        class="container mx-auto py-16 px-4 flex flex-col items-center justify-center max-w-screen-lg lg:flex-row lg:justify-between lg:items-start"
    >
        <div class="mb-16 text-center lg:text-left">
            <h4 class="font-bold text-lg mb-6">Dunder Miflin</h4>
            <ul class="list-none">
                <li class="mb-3">
                    <a href="" class="text-sm font-light">Home</a>
                </li>
                <li class="mb-3">
                    <a href="" class="text-sm font-light">Product</a>
                </li>
                <li class="mb-3">
                    <a href="" class="text-sm font-light">Pricing</a>
                </li>
                <li class="mb-3">
                    <a href="" class="text-sm font-light">About</a>
                </li>
                <li class="mb-3">
                    <a href="" class="text-sm font-light">Contact</a>
                </li>
            </ul>
        </div>
        <div class="mb-16 text-center lg:text-left">
            <h4 class="font-bold text-lg mb-6">Resources</h4>
            <ul class="list-none">
                <li class="mb-3">
                    <a href="" class="text-sm font-light">FAQ</a>
                </li>
                <li class="mb-3">
                    <a href="" class="text-sm font-light">Helpdesk</a>
                </li>
                <li class="mb-3">
                    <a href="" class="text-sm font-light">Live chat</a>
                </li>
                <li class="mb-3">
                    <a href="" class="text-sm font-light">Videos</a>
                </li>
            </ul>
        </div>
        <div class="mb-16 text-center lg:text-left">
            <h4 class="font-bold text-lg mb-6">Company</h4>
            <ul class="list-none">
                <li class="mb-3">
                    <a href="" class="text-sm font-light">Founders</a>
                </li>
                <li class="mb-3">
                    <a href="" class="text-sm font-light">Team</a>
                </li>
                <li class="mb-3">
                    <a href="" class="text-sm font-light">Mission statement</a>
                </li>
                <li class="mb-3">
                    <a href="" class="text-sm font-light">Contact</a>
                </li>
            </ul>
        </div>
        <div>
            <ul
                class="list-none flex items-center justify-center mb-14 lg:justify-start"
            >
                <li class="mr-4">
                    <a href=""
                        ><img
                            src="assets/img/Twitter_white.svg"
                            class="w-8 h-8"
                    /></a>
                </li>
                <li class="mr-4">
                    <a href=""
                        ><img
                            src="assets/img/Facebook_white.svg"
                            class="w-8 h-8"
                    /></a>
                </li>
                <li>
                    <a href=""
                        ><img
                            src="assets/img/LinkedIn_white.svg"
                            class="w-8 h-8"
                    /></a>
                </li>
            </ul>
            <div class="flex flex-col lg:block lg:w-full">
                <p
                    class="font-bold text-center text-xl leading-normal lg:text-left"
                >
                    Subscribe to our Newsletter
                </p>
                <p class="text-sm font-light text-center mb-8 lg:text-left">
                    Available exclusively at Dunder Miflon Infinity
                </p>
                <form class="flex flex-col items-center justify-center w-full">
                    <input
                        type="text"
                        placeholder="Your Email"
                        class="flex items-center justify-center bg-grey-lighter text-black placeholder-black-80 border border-grey-light rounded-full py-3 px-10 w-full mb-4 focus:outline-none focus:ring focus:border-primary"
                    />
                    <button
                        type="submit"
                        class="flex items-center justify-center bg-primary text-white border border-transparent rounded-full py-3 w-full"
                    >
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
