<section
    class="bg-gradient-to-tr from-secondary to-primary min-h-screen flex flex-col items-center justify-start relative"
>
    <div class="fixed left-0 right-0 z-20 bg-opacity-90" id="navWrapper">
        <div class="container mx-auto max-w-screen-xl py-5 flex-none">
            <div class="flex left-0 right-0 justify-between items-center mx-4">
                <img src="assets/img/logo.svg" class="w-44 sm:w-56" />
                <div class="flex items-center">
                    <nav
                        id="menu"
                        class="hidden fixed inset-0 w-screen h-screen bg-white bg-opacity-90 md:bg-transparent flex items-center justify-center flex-col z-20 md:w-auto md:h-auto md:relative md:block"
                    >
                        <button
                            class="w-10 h-10 text-accent md:hidden"
                            id="menuCloseIcon"
                            style="top: 25px; right: 25px"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"
                                />
                            </svg>
                        </button>
                        <a
                            href=""
                            class="text-primary md:text-white mb-14 md:mb-0 mr-6 text-3xl md:text-base"
                            >Home</a
                        >
                        <a
                            href=""
                            class="text-primary md:text-white mb-14 md:mb-0 mr-6 text-3xl md:text-base"
                            >About</a
                        >
                        <a
                            href=""
                            class="text-primary md:text-white mb-14 md:mb-0 mr-6 text-3xl md:text-base"
                            >Features</a
                        >
                        <a
                            href=""
                            class="text-primary md:text-white mb-14 md:mb-0 mr-6 text-3xl md:text-base"
                            >Contact</a
                        >
                    </nav>
                    <button
                        class="flex items-center justify-center border border-transparent text-base bg-white rounded-full py-2 px-5 text-primary hover:shadow-md"
                    >
                        Login
                    </button>
                    <button
                        class="w-8 h-8 text-white ml-4 md:hidden"
                        id="menuIcon"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div
        class="container mx-auto flex-grow flex items-end justify-center relative z-10"
    >
        <div class="flex flex-col items-center mx-4 md:w-8/12">
            <h3
                class="text-white text-3xl font-light text-center leading-relaxed mb-4 xl:mt-20"
            >
                At your fingertips
            </h3>
            <h2
                class="text-white text-5xl text-center leading-tight mb-6 font-normal"
            >
                The best paper in the world
            </h2>
            <h4 class="text-white text-lg text-center leading-relaxed mb-16">
                Most paper is just that; paper. But not Dunder Mifflin paper.
                You'll feel it... you'll know it.
            </h4>
            <span class="inline-block relative z-0">
                <button
                    class="flex items-center justify-center border border-transparent text-lg font-bold bg-white rounded-full py-4 px-12 mb-20 text-primary hover:shadow-md"
                >
                    Try For Free
                </button>
                <span class="flex h-4 w-4 absolute top-0 right-0">
                    <span
                        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-accent opacity-75"
                    ></span>
                    <span
                        class="relative inline-flex rounded-full h-4 w-4 bg-accent"
                    ></span>
                </span>
            </span>
            <div id="top-of-site-pixel-anchor"></div>
            <img src="assets/img/MacbookPro.svg" class="mb-12 w-full" />
        </div>
    </div>
    <div
        class="custom-shape-divider-bottom-1605947787 absolute bottom-0 left-0 w-full overflow-hidden leading-0"
    >
        <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
            class="block relative"
        >
            <defs>
                <linearGradient
                    id="MyGradient"
                    x1="0%"
                    y1="0%"
                    x2="100%"
                    y2="100%"
                >
                    <stop
                        offset="0%"
                        style="stop-color: #dbbce6; stop-opacity: 1"
                    />
                    <stop
                        offset="100%"
                        style="stop-color: #b1e2fb; stop-opacity: 1"
                    />
                </linearGradient>
            </defs>
            <path
                d="M0,24.1232394 C102.465645,59.6939484 213.613172,68.9040872 321.39,50.7549296 C379.39,40.8767606 435.55,23.1711268 493.39,12.4323944 C575.78,-2.87464789 661.58,-3.79929577 743.84,12.0753521 C823.78,27.4647887 906.67,65 985.66,84.0697183 C1055.71,100.988028 1132.19,107.95493 1200,86.7887324 L1200,86.7887324 L1200,114.253521 C1132.19,135.419718 1055.71,128.452817 985.66,111.534507 C949.203077,102.733099 911.915385,89.9982124 874.470387,77.322581 L869.120104,75.5126108 C827.202313,61.3444226 785.127692,47.4885312 743.84,39.5401408 C661.58,23.665493 575.78,24.5901408 493.39,39.8971831 C435.55,50.6359155 379.39,68.3415493 321.39,78.2197183 C213.613172,96.3688759 102.465645,87.1587372 0,51.5880282 Z"
                id="Combined-Shape"
                class="shape-border"
            ></path>
            <path
                d="M985.66,96.4744851 C906.67,76.6626931 823.78,37.6668471 743.84,21.6785502 C661.58,5.1861607 575.78,6.14679008 493.39,22.0494863 C435.55,33.2061027 379.39,51.6007286 321.39,61.863294 C213.613172,80.7187028 102.465645,71.1501633 0,34.1952657 L0,129.64031 L1200,129.64031 L1200,99.2993061 C1132.19,121.289159 1055.71,114.051149 985.66,96.4744851 Z"
                id="Path"
                class="shape-fill"
            ></path>
        </svg>
    </div>
</section>
