<section class="container mx-auto px-4 pt-20 pb-28 lg:py-40">
    <div class="flex flex-col lg:flex-row lg:items-center">
        <img
            src="assets/img/undraw_newsletter_vovu.svg"
            class="hidden lg:block lg:w-1/2"
        />
        <div class="flex flex-col items-center lg:w-1/4 lg:mx-auto">
            <div class="w-full">
                <h3
                    class="text-black text-2xl font-bold text-center lg:text-left leading-relaxed mb-4"
                >
                    At your fingertips
                </h3>
                <h2
                    class="text-black text-5xl text-center lg:text-left leading-tight mb-6 font-normal"
                >
                    Newsletter
                </h2>
                <h4
                    class="text-black text-base font-bold text-center lg:text-left leading-relaxed mb-20 max-w-sm mx-auto lg:mb-10"
                >
                    Most calendars are designed for teams. Slate is designed for
                    freelancers
                </h4>
            </div>
            <img
                src="assets/img/undraw_newsletter_vovu.svg"
                class="mb-20 lg:hidden"
            />
            <div class="flex flex-col lg:block lg:w-full">
                <p
                    class="font-bold text-center lg:text-left text-2xl leading-normal mb-4 lg:mb-0 lg:text-xl"
                >
                    Subscribe to our Newsletter
                </p>
                <p class="text-lg text-center lg:text-left mb-8">
                    Available exclusively at Dunder Miflon Infinity
                </p>
                <form
                    class="flex flex-col items-center justify-center w-full xl:flex-row"
                >
                    <input
                        type="text"
                        placeholder="Your Email"
                        class="flex items-center justify-center bg-grey-lighter text-black placeholder-black-80 border border-grey-light rounded-full py-3 px-10 w-full mb-4 focus:outline-none focus:ring focus:border-primary xl:mb-0 xl:mr-4 xl:w-4/6"
                    />
                    <button
                        type="submit"
                        class="flex items-center justify-center bg-primary text-white border border-transparent rounded-full py-3 w-full xl:w-2/6"
                    >
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
